# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# builds
dist
.rpt2_cache

# misc
jam-cms/README.md
gatsby/public
.DS_Store
.env
.env.local
.env.development
.env.development.local
.env.test.local
.env.production
.env.production.local
.cache
.wordpress-cache

npm-debug.log*
yarn-debug.log*
yarn-error.log*
# Local Netlify folder
.netlify