# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# builds
dist
.rpt2_cache

# misc
jam-cms-website
jam-cms/README.md

gatsby-source-jam-cms/README.md
gatsby-source-jam-cms/addPathToFields.js
gatsby-source-jam-cms/createPages.js
gatsby-source-jam-cms/createTaxonomies.js
gatsby-source-jam-cms/gatsby-browser.js
gatsby-source-jam-cms/gatsby-node-es6.js
gatsby-source-jam-cms/gatsby-node.js
gatsby-source-jam-cms/gatsby-ssr.js
gatsby-source-jam-cms/getTemplatePath.js
gatsby-source-jam-cms/getThemeSettings.js
gatsby-source-jam-cms/syncFields.js
gatsby-source-jam-cms/wrap-page.js

public
.wordpress-cache
.DS_Store
.env
.env.local
.env.development
.env.development.local
.env.test.local
.env.production
.env.production.local
.cache

npm-debug.log*
yarn-debug.log*
yarn-error.log*
# Local Netlify folder
.netlify

cypress.env.json